

.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.box {
  border-style: solid;
}

.grid-container {
  justify-content: center;
  display: inline-grid;
  /* border: solid; */
  grid-column-gap: 50px;
  grid-template-columns: 40% 40% 40%;
}

.grid-item {
  border: solid;
  padding: 30px;
}
