

.App {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.box {
  border-style: solid;
}

.grid-container {
  justify-content: center;
  display: inline-grid;
  /* border: solid; */
  grid-column-gap: 50px;
  grid-template-columns: 30% 30% 30%;
  font-family: "Helvetica Neue", sans-serif;
}

.grid-item {
  border: solid;
  padding: 30px;
  font-family: "Helvetica Neue", sans-serif;
}

#invisHeader {
  display: none !important;
}

#duplicate {
  height: 70px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-left: 8px;
  background: #ffffff !important;
  border: 0.5px solid #f0f0f0 !important;
}

#duplicate:hover {
  background: #fafaf8 !important;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07) !important;
  transition: background 0.1s ease-in-out !important;
}

#duplicate.selected {
  background: #ffffff !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.07) !important;
  transition: background 0.1s ease-in-out;
}

#duplicate.selected:hover {
  background: #fafaf8 !important;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07) !important;
  transition: background 0.1s ease-in-out !important;
}


.channel-preview__content-message {
  margin: 0 !important;
  white-space: nowrap !important;
  text-align: left !important;
}
